<!-- View for showing all `Post` -->
<%= link_to 'Add New Post', new_post_path, class: 'nav-add-link' %><br/>

<% @posts.each do |post| %>
	<div class="post">
		<strong><%= post.title %></strong><br/>
		<span class="post-body"><%= truncate(post.body, :length => 150, separator: ' ') %></span><br/>
		<span class="post-comments-link"><%= link_to "comments: " + post.comments.count.to_s, post_path(post) %></span></br>
	</div>
<% end %>